.App {
  text-align: center;
}
::-webkit-scrollbar{
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.error{
  text-align: center;
  color: #3F51B5;
  font-weight: bold;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
Registration CSS styling 
*/

.form {
  background-color: white;
  border-radius: 5px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
  width: 500px;
}

.form-body > *{
  padding: 5px;
}

.form__label{
  width: 40%;
}

.form_input{
  width: 60%;
}

.footer{
  text-align: center;
}

.cancel {
  text-align: right;
  margin-right: 375px;
  padding-top: 5px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

.text {
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.padding {
  padding-top: 15px;
  text-align: right;
  margin-right: 375px;
}
